{{template "header"}}
    <title>bee blog</title>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
        {{template "navbar" .}}
        </div>
    </div>


    <div class="container">
        <div class="page-header">
            {{range .topics}}
            <h1>{{.Title}} </h1>
            <h6>文章发表于 {{.Created}}，共有{{.Views}}人浏览，{{.ReplyCount}}条评论</h6>
            <p>
                {{.Content}}
            </p>
            {{end}}
        </div>
    </div>
</body>
</html>