{{template "header"}}
    <title>查看文章</title>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
        {{template "navbar" .}}
        </div>
    </div>


    <div class="container">
        <form action="/topic" method="POST">
            <div class="form-group">
            <input type="hidden" name="op" value="update">
            <input type="hidden" name="tid" value="{{.topic.ID}}">
            <label for="title">文章标题：</label>
            <input type="text" id="title" name="title" class="form-control" value="{{.topic.Title}}" placeholder="请输入标题">
            <label for="content">文章内容：</label>    
            <textarea id="content" name="content" class="form-control" cols="30" rows="20">{{.topic.Content}}</textarea>       
            <button type="submit" class="btn btn-default" onclick="return checkInput();">修改</button>
        </form>
        <script type="text/javascript">
            function checkInput(){
                if ($("#title").val() ==""){
                    alert("用户名不得为空");
                    return false;
                }
                
                return true;
            }
            
        </script>
      
        
    </div>

</body>
</html>