{{template "header"}}
    <title>文章列表</title>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
        {{template "navbar" .}}
        </div>
    </div>


    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>文章标题</th>
                    <th>最后更新</th>
                    <th>浏览</th>
                    <th>回复数</th>
                </tr>
            </thead>
            <tbody>                
                {{range .topics}}
                    <tr>
                        <th>{{.ID}}</th>
                        <th>{{.Title}}</th>
                        <th>{{.Updated}}</th>
                        <th>{{.Views}}</th>
                        <th>{{.ReplyCount}}</th>
                    </tr>
                {{end}}               
            </tbody>
        </table>
        
    </div>

</body>
</html>