{{template "header"}}
    <title>文章列表</title>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
        {{template "navbar" .}}
        </div>
    </div>


    <div class="container">
        <button type="button" class="btn btn-default" onclick="addTopic();">添加</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>文章标题</th>
                    <th>最后更新</th>
                    <th>浏览</th>
                    <th>回复数</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>                
                {{range .topics}}
                    <tr>
                        <th>{{.ID}}</th>
                        <th><a href="/topic/view/{{.ID}}">{{.Title}}</a></th>
                        <th>{{.Updated.Format "2006年01月02日 15:04:05" }}</th>
                        <th>{{.Views}}</th>
                        <th>{{.ReplyCount}}</th>
                        <th><a href="/topic/del/{{.ID}}" onclick="return sureDel();">删除</a></th>
                    </tr>
                {{end}}               
            </tbody>
        </table>
        
    </div>
    <script type="text/javascript">
        function addTopic(){
           window.location.href = "/topic/add"
        }
        function sureDel(){
            var r=confirm("是否要删除些标题")
            if (r==true){
                return true;
            }
            else{
                return false;
            }
        }
        
    </script>
</body>
</html>